
venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/REQUESTED
venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/AUTHORS
venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/INSTALLER
venv/Lib/site-packages/beautifulsoup4-4.9.3.dist-info/METADATA
